node-red/node-red.json
[
    {
        "id": "e03821eb.1ee1f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e4eb9ef1.2f839",
        "type": "http request",
        "z": "e03821eb.1ee1f",
        "name": "PRODUCTION",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "https://optivee-api.azurewebsites.net/app/entity/api/production.php",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1520,
        "y": 100,
        "wires": [
            [
                "e2ca8e8a.def908"
            ]
        ]
    },
    {
        "id": "eb35dc92.10dca",
        "type": "function",
        "z": "e03821eb.1ee1f",
        "name": "Dataprocessor KPN",
        "func": "// Test if it dat ais KPN format\n// Verification 1: Test for number of objects in array. Shall be > 3\nif( msg.payload.length > 2){\n // Verification 2: test if \"bn\" object is at position 0 of object array\n if (msg.payload[0].hasOwnProperty(\"bn\")) {\n    var msg200 = {}; // Variable to hold http responce message\n    msg200.payload = \"200\"; // \"200\" for OK\n    msg200.req = msg.req; // req from original msg for http responce node\n    msg200.res = msg.res; // res from original msg for http responce node\n    node.send(msg,msg200)\n }\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 140,
        "wires": [
            [
                "42b77ee5.16dea8"
            ],
            [
                "2e871db8.42da6a"
            ]
        ]
    },
    {
        "id": "eced9f63.453d28",
        "type": "http response",
        "z": "e03821eb.1ee1f",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 360,
        "y": 60,
        "wires": []
    },
    {
        "id": "e77c4019.861f4",
        "type": "http in",
        "z": "e03821eb.1ee1f",
        "name": "HTTPIN",
        "url": "/lora",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "eb35dc92.10dca",
                "68cbc42.57e8d3c",
                "eced9f63.453d28"
            ]
        ]
    },
    {
        "id": "68cbc42.57e8d3c",
        "type": "debug",
        "z": "e03821eb.1ee1f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 220,
        "wires": []
    },
    {
        "id": "5d770d46.b4175c",
        "type": "inject",
        "z": "e03821eb.1ee1f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "req",
                "v": "{\"_readableState\":{\"objectMode\":false,\"highWaterMark\":16384,\"buffer\":{\"head\":null,\"tail\":null,\"length\":0},\"length\":0,\"pipes\":null,\"pipesCount\":0,\"flowing\":true,\"ended\":true,\"endEmitted\":true,\"reading\":false,\"sync\":false,\"needReadable\":false,\"emittedReadable\":false,\"readableListening\":false,\"resumeScheduled\":false,\"emitClose\":true,\"autoDestroy\":false,\"destroyed\":false,\"defaultEncoding\":\"utf8\",\"awaitDrainWriters\":null,\"multiAwaitDrain\":false,\"readingMore\":false,\"decoder\":null,\"encoding\":null},\"readable\":false,\"_events\":{},\"_eventsCount\":0,\"socket\":{\"_tlsOptions\":{\"secureContext\":{\"context\":{},\"alpnBuffer\":[8,104,116,116,112,47,49,46,49]},\"isServer\":true,\"server\":{\"_contexts\":[],\"requestCert\":false,\"rejectUnauthorized\":true,\"ALPNProtocols\":[8,104,116,116,112,47,49,46,49],\"key\":[45,45,45,45,45,66,69,71,73,78,32,80,82,73,86,65,84,69,32,75,69,89,45,45,45,45,45,10,77,73,73,69,118,119,73,66,65,68,65,78,66,103,107,113,104,107,105,71,57,119,48,66,65,81,69,70,65,65,83,67,66,75,107,119,103,103,83,108,65,103,69,65,65,111,73,66,65,81,68,82,73,86,121,74,68,76,110,117,77,57,86,120,10,86,89,79,100,47,121,53,57,85,66,119,109,77,74,121,115,77,90,51,97,90,120,66,87,114,72,85,56,103,108,109,117,110,48,122,103,78,80,107,51,111,97,67,56,65,103,75,117,118,110,86,86,105,82,50,88,77,70,49,77,49,66,43,65,10,78,106,117,90,71,105,67,110,83,74,105,56,68,113,66,83,109,57,114,66,115,71,99,72,68,84,105,115,111,113,78,71,67,104,66,104,104,57,51,69,115,75,74,115,85,65,49,47,82,51,86,119,112,116,65,81,107,88,47,69,50,112,90,52,10,86,120,107,108,82,112,122,121,100,74,112,88,120,85,103,51,108,101,55,108,78,110,89,67,72,118,116,107,122,115,110,98,49,76,51,99,110,52,85,49,120,66,110,48,90,57,110,100,104,104,52,101,113,52,113,109,66,71,53,106,68,120,51,111,10,71,56,84,69,65,114,97,73,78,68,86,77,76,118,111,122,119,99,104,75,107,57,43,54,81,72,71,115,102,121,98,56,113,69,121,99,74,52,49,103,80,53,119,87,109,86,106,88,75,82,118,73,73,86,84,47,84,72,100,104,78,67,110,121,10,99,78,101,52,84,89,104,104,55,57,112,122,103,49,78,108,81,111,84,100,65,66,51,90,71,86,98,122,97,48,55,47,74,50,48,81,84,75,52,75,122,97,69,71,69,48,67,56,79,116,77,68,116,75,114,55,81,54,81,82,120,72,107,117,10,81,50,51,117,54,85,80,70,65,103,77,66,65,65,69,67,103,103,69,66,65,76,103,49,87,97,119,67,103,76,103,89,65,106,100,57,75,112,122,43,68,72,89,110,72,86,82,113,86,50,97,53,111,97,67,105,84,100,114,54,116,53,50,102,10,57,57,122,47,120,112,104,114,77,79,90,87,119,82,48,53,55,67,68,57,57,74,53,117,85,53,107,55,54,99,76,108,121,103,87,71,80,56,76,104,74,56,103,83,65,121,56,75,57,120,56,115,49,50,106,113,117,67,87,87,43,77,102,102,10,122,107,47,65,82,54,79,82,75,76,43,55,69,113,97,122,99,79,65,102,69,111,119,121,56,50,122,85,114,75,87,54,73,80,90,74,83,103,88,121,105,65,90,115,118,82,76,52,51,70,55,82,43,52,98,57,68,76,57,98,105,80,98,71,10,77,114,114,97,104,78,111,121,84,112,119,113,51,109,85,56,104,120,100,79,121,57,87,68,67,53,89,88,48,50,114,74,84,107,118,101,115,85,51,65,87,89,87,122,76,90,119,66,51,89,52,74,102,43,49,117,99,75,65,107,56,101,101,49,10,112,119,115,55,79,119,56,120,119,85,74,102,89,115,73,119,102,88,81,80,97,69,122,106,97,120,78,51,110,100,121,86,76,68,52,89,99,56,54,87,43,67,69,53,52,65,77,77,88,81,71,109,72,84,83,67,85,50,55,108,112,81,111,72,10,105,55,67,120,107,75,50,75,54,97,83,71,118,85,73,72,86,105,86,102,109,51,89,90,73,99,85,113,51,76,98,97,68,56,90,50,52,49,89,55,111,74,85,67,103,89,69,65,57,119,122,82,85,111,117,90,103,86,106,82,114,99,98,68,10,99,104,112,112,83,43,53,109,69,84,74,75,50,65,77,65,73,105,82,84,49,83,117,53,55,122,51,119,48,99,70,73,87,55,66,102,114,117,70,81,103,48,89,121,84,81,79,98,79,70,69,81,120,80,86,103,66,115,87,71,78,89,67,109,10,106,49,102,73,114,103,88,97,79,85,54,117,67,108,90,77,89,78,118,109,73,68,66,67,119,72,87,43,52,66,121,99,69,90,81,79,51,49,100,119,53,105,81,50,84,98,83,57,47,55,48,52,111,87,68,73,86,80,87,100,113,114,57,56,10,48,48,83,54,112,89,117,43,77,118,52,118,98,75,47,88,78,87,117,114,56,81,113,80,72,113,99,67,103,89,69,65,50,76,84,101,115,85,53,65,83,90,100,51,104,47,70,54,79,75,104,112,100,100,103,89,56,103,119,54,70,71],\"cert\":[45,45,45,45,45,66,69,71,73,78,32,67,69,82,84,73,70,73,67,65,84,69,45,45,45,45,45,10,77,73,73,70,98,84,67,67,66,70,87,103,65,119,73,66,65,103,73,83,65,119,121,48,117,90,71,109,67,104,79,86,56,86,81,113,114,70,57,80,89,78,99,43,77,65,48,71,67,83,113,71,83,73,98,51,68,81,69,66,67,119,85,65,10,77,68,73,120,67,122,65,74,66,103,78,86,66,65,89,84,65,108,86,84,77,82,89,119,70,65,89,68,86,81,81,75,69,119,49,77,90,88,81,110,99,121,66,70,98,109,78,121,101,88,66,48,77,81,115,119,67,81,89,68,86,81,81,68,10,69,119,74,83,77,122,65,101,70,119,48,121,77,68,69,121,77,68,73,120,77,106,69,51,77,84,78,97,70,119,48,121,77,84,65,122,77,68,73,120,77,106,69,51,77,84,78,97,77,68,56,120,80,84,65,55,66,103,78,86,66,65,77,84,10,78,71,57,119,100,71,108,50,90,87,85,116,99,50,86,121,100,109,86,121,76,109,100,108,99,109,49,104,98,110,108,51,90,88,78,48,89,50,86,117,100,72,74,104,98,67,53,106,98,71,57,49,90,71,70,119,99,67,53,104,101,110,86,121,10,90,83,53,106,98,50,48,119,103,103,69,105,77,65,48,71,67,83,113,71,83,73,98,51,68,81,69,66,65,81,85,65,65,52,73,66,68,119,65,119,103,103,69,75,65,111,73,66,65,81,68,82,73,86,121,74,68,76,110,117,77,57,86,120,10,86,89,79,100,47,121,53,57,85,66,119,109,77,74,121,115,77,90,51,97,90,120,66,87,114,72,85,56,103,108,109,117,110,48,122,103,78,80,107,51,111,97,67,56,65,103,75,117,118,110,86,86,105,82,50,88,77,70,49,77,49,66,43,65,10,78,106,117,90,71,105,67,110,83,74,105,56,68,113,66,83,109,57,114,66,115,71,99,72,68,84,105,115,111,113,78,71,67,104,66,104,104,57,51,69,115,75,74,115,85,65,49,47,82,51,86,119,112,116,65,81,107,88,47,69,50,112,90,52,10,86,120,107,108,82,112,122,121,100,74,112,88,120,85,103,51,108,101,55,108,78,110,89,67,72,118,116,107,122,115,110,98,49,76,51,99,110,52,85,49,120,66,110,48,90,57,110,100,104,104,52,101,113,52,113,109,66,71,53,106,68,120,51,111,10,71,56,84,69,65,114,97,73,78,68,86,77,76,118,111,122,119,99,104,75,107,57,43,54,81,72,71,115,102,121,98,56,113,69,121,99,74,52,49,103,80,53,119,87,109,86,106,88,75,82,118,73,73,86,84,47,84,72,100,104,78,67,110,121,10,99,78,101,52,84,89,104,104,55,57,112,122,103,49,78,108,81,111,84,100,65,66,51,90,71,86,98,122,97,48,55,47,74,50,48,81,84,75,52,75,122,97,69,71,69,48,67,56,79,116,77,68,116,75,114,55,81,54,81,82,120,72,107,117,10,81,50,51,117,54,85,80,70,65,103,77,66,65,65,71,106,103,103,74,117,77,73,73,67,97,106,65,79,66,103,78,86,72,81,56,66,65,102,56,69,66,65,77,67,66,97,65,119,72,81,89,68,86,82,48,108,66,66,89,119,70,65,89,73,10,75,119,89,66,66,81,85,72,65,119,69,71,67,67,115,71,65,81,85,70,66,119,77,67,77,65,119,71,65,49,85,100,69,119,69,66,47,119,81,67,77,65,65,119,72,81,89,68,86,82,48,79,66,66,89,69,70,70,90,66,54,99,86,77,10,82,114,69,79,117,103,106,71,108,52,47,112,65,121,112,70,74,47,90,49,77,66,56,71,65,49,85,100,73,119,81,89,77,66,97,65,70,66,81,117,115,120,101,51,87,70,98,76,114,108,65,74,81,79,89,102,114,53,50,76,70,77,76,71,10,77,70,85,71,67,67,115,71,65,81,85,70,66,119,69,66,66,69,107,119,82,122,65,104,66,103,103,114,66,103,69,70,66,81,99,119,65,89,89,86,97,72,82,48,99,68,111,118,76,51,73,122,76,109,56,117,98,71,86,117,89,51,73,117,10,98,51,74,110,77,67,73,71,67,67,115,71,65,81,85,70,66,122,65,67,104,104,90,111,100,72,82,119,79,105,56,118,99,106,77,117,97,83,53,115,90,87,53,106,99,105,53,118,99,109,99,118,77,68,56,71,65,49,85,100,69,81],\"honorCipherOrder\":true,\"sessionIdContext\":\"cc72b480224e5061c2d616db79897d01\",\"_sharedCreds\":{\"context\":{},\"alpnBuffer\":[8,104,116,116,112,47,49,46,49]},\"_events\":{},\"_eventsCount\":6,\"_maxListeners\":0,\"_connections\":3,\"_handle\":{\"reading\":false},\"_usingWorkers\":false,\"_workers\":[],\"_unref\":false,\"allowHalfOpen\":false,\"pauseOnConnect\":false,\"httpAllowHalfOpen\":false,\"timeout\":120000,\"keepAliveTimeout\":5000,\"maxHeadersCount\":null,\"headersTimeout\":60000,\"_connectionKey\":\"4:0.0.0.0:1880\"},\"requestCert\":false,\"rejectUnauthorized\":true,\"handshakeTimeout\":120000,\"ALPNProtocols\":[8,104,116,116,112,47,49,46,49],\"pauseOnConnect\":false},\"_secureEstablished\":true,\"_securePending\":false,\"_newSessionPending\":false,\"_controlReleased\":true,\"secureConnecting\":false,\"_SNICallback\":null,\"servername\":\"optivee-server.germanywestcentral.cloudapp.azure.com\",\"alpnProtocol\":false,\"authorized\":false,\"authorizationError\":null,\"encrypted\":true,\"_events\":{\"close\":[null,null,null,null],\"end\":[null,null]},\"_eventsCount\":11,\"connecting\":false,\"_hadError\":false,\"_parent\":\"[internal]\",\"_host\":null,\"_readableState\":{\"objectMode\":false,\"highWaterMark\":16384,\"buffer\":{\"head\":null,\"tail\":null,\"length\":0},\"length\":0,\"pipes\":null,\"pipesCount\":0,\"flowing\":true,\"ended\":false,\"endEmitted\":false,\"reading\":true,\"sync\":false,\"needReadable\":true,\"emittedReadable\":false,\"readableListening\":false,\"resumeScheduled\":false,\"emitClose\":false,\"autoDestroy\":false,\"destroyed\":false,\"defaultEncoding\":\"utf8\",\"awaitDrainWriters\":null,\"multiAwaitDrain\":false,\"readingMore\":false,\"decoder\":null,\"encoding\":null},\"readable\":true,\"_writableState\":{\"objectMode\":false,\"highWaterMark\":16384,\"finalCalled\":false,\"needDrain\":false,\"ending\":false,\"ended\":false,\"finished\":false,\"destroyed\":false,\"decodeStrings\":false,\"defaultEncoding\":\"utf8\",\"length\":0,\"writing\":false,\"corked\":0,\"sync\":true,\"bufferProcessing\":false,\"writecb\":null,\"writelen\":0,\"afterWriteTickInfo\":null,\"bufferedRequest\":null,\"lastBufferedRequest\":null,\"pendingcb\":0,\"prefinished\":false,\"errorEmitted\":false,\"emitClose\":false,\"autoDestroy\":false,\"bufferedRequestCount\":0,\"corkedRequestsFree\":{\"next\":null,\"entry\":null}},\"writable\":true,\"allowHalfOpen\":false,\"_sockname\":null,\"_pendingData\":null,\"_pendingEncoding\":\"\",\"server\":{\"_contexts\":[],\"requestCert\":false,\"rejectUnauthorized\":true,\"ALPNProtocols\":[8,104,116,116,112,47,49,46,49],\"key\":[45,45,45,45,45,66,69,71,73,78,32,80,82,73,86,65,84,69,32,75,69,89,45,45,45,45,45,10,77,73,73,69,118,119,73,66,65,68,65,78,66,103,107,113,104,107,105,71,57,119,48,66,65,81,69,70,65,65,83,67,66,75,107,119,103,103,83,108,65,103,69,65,65,111,73,66,65,81,68,82,73,86,121,74,68,76,110,117,77,57,86,120,10,86,89,79,100,47,121,53,57,85,66,119,109,77,74,121,115,77,90,51,97,90,120,66,87,114,72,85,56,103,108,109,117,110,48,122,103,78,80,107,51,111,97,67,56,65,103,75,117,118,110,86,86,105,82,50,88,77,70,49,77,49,66,43,65,10,78,106,117,90,71,105,67,110,83,74,105,56,68,113,66,83,109,57,114,66,115,71,99,72,68,84,105,115,111,113,78,71,67,104,66,104,104,57,51,69,115,75,74,115,85,65,49,47,82,51,86,119,112,116,65,81,107,88,47,69,50,112,90,52,10,86,120,107,108,82,112,122,121,100,74,112,88,120,85,103,51,108,101,55,108,78,110,89,67,72,118,116,107,122,115,110,98,49,76,51,99,110,52,85,49,120,66,110,48,90,57,110,100,104,104,52,101,113,52,113,109,66,71,53,106,68,120,51,111,10,71,56,84,69,65,114,97,73,78,68,86,77,76,118,111,122,119,99,104,75,107,57,43,54,81,72,71,115,102,121,98,56,113,69,121,99,74,52,49,103,80,53,119,87,109,86,106,88,75,82,118,73,73,86,84,47,84,72,100,104,78,67,110,121,10,99,78,101,52,84,89,104,104,55,57,112,122,103,49,78,108,81,111,84,100,65,66,51,90,71,86,98,122,97,48,55,47,74,50,48,81,84,75,52,75,122,97,69,71,69,48,67,56,79,116,77,68,116,75,114,55,81,54,81,82,120,72,107,117,10,81,50,51,117,54,85,80,70,65,103,77,66,65,65,69,67,103,103,69,66,65,76,103,49,87,97,119,67,103,76,103,89,65,106,100,57,75,112,122,43,68,72,89,110,72,86,82,113,86,50,97,53,111,97,67,105,84,100,114,54,116,53,50,102,10,57,57,122,47,120,112,104,114,77,79,90,87,119,82,48,53,55,67,68,57,57,74,53,117,85,53,107,55,54,99,76,108,121,103,87,71,80,56,76,104,74,56,103,83,65,121,56,75,57,120,56,115,49,50,106,113,117,67,87,87,43,77,102,102,10,122,107,47,65,82,54,79,82,75,76,43,55,69,113,97,122,99,79,65,102,69,111,119,121,56,50,122,85,114,75,87,54,73,80,90,74,83,103,88,121,105,65,90,115,118,82,76,52,51,70,55,82,43,52,98,57,68,76,57,98,105,80,98,71,10,77,114,114,97,104,78,111,121,84,112,119,113,51,109,85,56,104,120,100,79,121,57,87,68,67,53,89,88,48,50,114,74,84,107,118,101,115,85,51,65,87,89,87,122,76,90,119,66,51,89,52,74,102,43,49,117,99,75,65,107,56,101,101,49,10,112,119,115,55,79,119,56,120,119,85,74,102,89,115,73,119,102,88,81,80,97,69,122,106,97,120,78,51,110,100,121,86,76,68,52,89,99,56,54,87,43,67,69,53,52,65,77,77,88,81,71,109,72,84,83,67,85,50,55,108,112,81,111,72,10,105,55,67,120,107,75,50,75,54,97,83,71,118,85,73,72,86,105,86,102,109,51,89,90,73,99,85,113,51,76,98,97,68,56,90,50,52,49,89,55,111,74,85,67,103,89,69,65,57,119,122,82,85,111,117,90,103,86,106,82,114,99,98,68,10,99,104,112,112,83,43,53,109,69,84,74,75,50,65,77,65,73,105,82,84,49,83,117,53,55,122,51,119,48,99,70,73,87,55,66,102,114,117,70,81,103,48,89,121,84,81,79,98,79,70,69,81,120,80,86,103,66,115,87,71,78,89,67,109,10,106,49,102,73,114,103,88,97,79,85,54,117,67,108,90,77,89,78,118,109,73,68,66,67,119,72,87,43,52,66,121,99,69,90,81,79,51,49,100,119,53,105,81,50,84,98,83,57,47,55,48,52,111,87,68,73,86,80,87,100,113,114,57,56,10,48,48,83,54,112,89,117,43,77,118,52,118,98,75,47,88,78,87,117,114,56,81,113,80,72,113,99,67,103,89,69,65,50,76,84,101,115,85,53,65,83,90,100,51,104,47,70,54,79,75,104,112,100,100,103,89,56,103,119,54,70,71],\"cert\":[45,45,45,45,45,66,69,71,73,78,32,67,69,82,84,73,70,73,67,65,84,69,45,45,45,45,45,10,77,73,73,70,98,84,67,67,66,70,87,103,65,119,73,66,65,103,73,83,65,119,121,48,117,90,71,109,67,104,79,86,56,86,81,113,114,70,57,80,89,78,99,43,77,65,48,71,67,83,113,71,83,73,98,51,68,81,69,66,67,119,85,65,10,77,68,73,120,67,122,65,74,66,103,78,86,66,65,89,84,65,108,86,84,77,82,89,119,70,65,89,68,86,81,81,75,69,119,49,77,90,88,81,110,99,121,66,70,98,109,78,121,101,88,66,48,77,81,115,119,67,81,89,68,86,81,81,68,10,69,119,74,83,77,122,65,101,70,119,48,121,77,68,69,121,77,68,73,120,77,106,69,51,77,84,78,97,70,119,48,121,77,84,65,122,77,68,73,120,77,106,69,51,77,84,78,97,77,68,56,120,80,84,65,55,66,103,78,86,66,65,77,84,10,78,71,57,119,100,71,108,50,90,87,85,116,99,50,86,121,100,109,86,121,76,109,100,108,99,109,49,104,98,110,108,51,90,88,78,48,89,50,86,117,100,72,74,104,98,67,53,106,98,71,57,49,90,71,70,119,99,67,53,104,101,110,86,121,10,90,83,53,106,98,50,48,119,103,103,69,105,77,65,48,71,67,83,113,71,83,73,98,51,68,81,69,66,65,81,85,65,65,52,73,66,68,119,65,119,103,103,69,75,65,111,73,66,65,81,68,82,73,86,121,74,68,76,110,117,77,57,86,120,10,86,89,79,100,47,121,53,57,85,66,119,109,77,74,121,115,77,90,51,97,90,120,66,87,114,72,85,56,103,108,109,117,110,48,122,103,78,80,107,51,111,97,67,56,65,103,75,117,118,110,86,86,105,82,50,88,77,70,49,77,49,66,43,65,10,78,106,117,90,71,105,67,110,83,74,105,56,68,113,66,83,109,57,114,66,115,71,99,72,68,84,105,115,111,113,78,71,67,104,66,104,104,57,51,69,115,75,74,115,85,65,49,47,82,51,86,119,112,116,65,81,107,88,47,69,50,112,90,52,10,86,120,107,108,82,112,122,121,100,74,112,88,120,85,103,51,108,101,55,108,78,110,89,67,72,118,116,107,122,115,110,98,49,76,51,99,110,52,85,49,120,66,110,48,90,57,110,100,104,104,52,101,113,52,113,109,66,71,53,106,68,120,51,111,10,71,56,84,69,65,114,97,73,78,68,86,77,76,118,111,122,119,99,104,75,107,57,43,54,81,72,71,115,102,121,98,56,113,69,121,99,74,52,49,103,80,53,119,87,109,86,106,88,75,82,118,73,73,86,84,47,84,72,100,104,78,67,110,121,10,99,78,101,52,84,89,104,104,55,57,112,122,103,49,78,108,81,111,84,100,65,66,51,90,71,86,98,122,97,48,55,47,74,50,48,81,84,75,52,75,122,97,69,71,69,48,67,56,79,116,77,68,116,75,114,55,81,54,81,82,120,72,107,117,10,81,50,51,117,54,85,80,70,65,103,77,66,65,65,71,106,103,103,74,117,77,73,73,67,97,106,65,79,66,103,78,86,72,81,56,66,65,102,56,69,66,65,77,67,66,97,65,119,72,81,89,68,86,82,48,108,66,66,89,119,70,65,89,73,10,75,119,89,66,66,81,85,72,65,119,69,71,67,67,115,71,65,81,85,70,66,119,77,67,77,65,119,71,65,49,85,100,69,119,69,66,47,119,81,67,77,65,65,119,72,81,89,68,86,82,48,79,66,66,89,69,70,70,90,66,54,99,86,77,10,82,114,69,79,117,103,106,71,108,52,47,112,65,121,112,70,74,47,90,49,77,66,56,71,65,49,85,100,73,119,81,89,77,66,97,65,70,66,81,117,115,120,101,51,87,70,98,76,114,108,65,74,81,79,89,102,114,53,50,76,70,77,76,71,10,77,70,85,71,67,67,115,71,65,81,85,70,66,119,69,66,66,69,107,119,82,122,65,104,66,103,103,114,66,103,69,70,66,81,99,119,65,89,89,86,97,72,82,48,99,68,111,118,76,51,73,122,76,109,56,117,98,71,86,117,89,51,73,117,10,98,51,74,110,77,67,73,71,67,67,115,71,65,81,85,70,66,122,65,67,104,104,90,111,100,72,82,119,79,105,56,118,99,106,77,117,97,83,53,115,90,87,53,106,99,105,53,118,99,109,99,118,77,68,56,71,65,49,85,100,69,81],\"honorCipherOrder\":true,\"sessionIdContext\":\"cc72b480224e5061c2d616db79897d01\",\"_sharedCreds\":{\"context\":{},\"alpnBuffer\":[8,104,116,116,112,47,49,46,49]},\"_events\":{},\"_eventsCount\":6,\"_maxListeners\":0,\"_connections\":3,\"_handle\":{\"reading\":false},\"_usingWorkers\":false,\"_workers\":[],\"_unref\":false,\"allowHalfOpen\":false,\"pauseOnConnect\":false,\"httpAllowHalfOpen\":false,\"timeout\":120000,\"keepAliveTimeout\":5000,\"maxHeadersCount\":null,\"headersTimeout\":60000,\"_connectionKey\":\"4:0.0.0.0:1880\"},\"_server\":null,\"ssl\":{\"_parent\":{\"reading\":true,\"onconnection\":null},\"_parentWrap\":\"[internal]\",\"_secureContext\":{\"context\":{},\"alpnBuffer\":[8,104,116,116,112,47,49,46,49]},\"reading\":true,\"lastHandshakeTime\":1315199,\"handshakes\":0,\"_consumed\":true},\"_requestCert\":false,\"_rejectUnauthorized\":true,\"timeout\":120000,\"parser\":{\"_headers\":[],\"_url\":\"\",\"socket\":\"[Circular ~.req.socket]\",\"incoming\":\"[Circular ~.req]\",\"outgoing\":null,\"maxHeaderPairs\":2000,\"_consumed\":true},\"_paused\":false,\"_httpMessage\":\"[internal]\"},\"connection\":{\"_tlsOptions\":{\"secureContext\":{\"context\":{},\"alpnBuffer\":[8,104,116,116,112,47,49,46,49]},\"isServer\":true,\"server\":{\"_contexts\":[],\"requestCert\":false,\"rejectUnauthorized\":true,\"ALPNProtocols\":[8,104,116,116,112,47,49,46,49],\"key\":[45,45,45,45,45,66,69,71,73,78,32,80,82,73,86,65,84,69,32,75,69,89,45,45,45,45,45,10,77,73,73,69,118,119,73,66,65,68,65,78,66,103,107,113,104,107,105,71,57,119,48,66,65,81,69,70,65,65,83,67,66,75,107,119,103,103,83,108,65,103,69,65,65,111,73,66,65,81,68,82,73,86,121,74,68,76,110,117,77,57,86,120,10,86,89,79,100,47,121,53,57,85,66,119,109,77,74,121,115,77,90,51,97,90,120,66,87,114,72,85,56,103,108,109,117,110,48,122,103,78,80,107,51,111,97,67,56,65,103,75,117,118,110,86,86,105,82,50,88,77,70,49,77,49,66,43,65,10,78,106,117,90,71,105,67,110,83,74,105,56,68,113,66,83,109,57,114,66,115,71,99,72,68,84,105,115,111,113,78,71,67,104,66,104,104,57,51,69,115,75,74,115,85,65,49,47,82,51,86,119,112,116,65,81,107,88,47,69,50,112,90,52,10,86,120,107,108,82,112,122,121,100,74,112,88,120,85,103,51,108,101,55,108,78,110,89,67,72,118,116,107,122,115,110,98,49,76,51,99,110,52,85,49,120,66,110,48,90,57,110,100,104,104,52,101,113,52,113,109,66,71,53,106,68,120,51,111,10,71,56,84,69,65,114,97,73,78,68,86,77,76,118,111,122,119,99,104,75,107,57,43,54,81,72,71,115,102,121,98,56,113,69,121,99,74,52,49,103,80,53,119,87,109,86,106,88,75,82,118,73,73,86,84,47,84,72,100,104,78,67,110,121,10,99,78,101,52,84,89,104,104,55,57,112,122,103,49,78,108,81,111,84,100,65,66,51,90,71,86,98,122,97,48,55,47,74,50,48,81,84,75,52,75,122,97,69,71,69,48,67,56,79,116,77,68,116,75,114,55,81,54,81,82,120,72,107,117,10,81,50,51,117,54,85,80,70,65,103,77,66,65,65,69,67,103,103,69,66,65,76,103,49,87,97,119,67,103,76,103,89,65,106,100,57,75,112,122,43,68,72,89,110,72,86,82,113,86,50,97,53,111,97,67,105,84,100,114,54,116,53,50,102,10,57,57,122,47,120,112,104,114,77,79,90,87,119,82,48,53,55,67,68,57,57,74,53,117,85,53,107,55,54,99,76,108,121,103,87,71,80,56,76,104,74,56,103,83,65,121,56,75,57,120,56,115,49,50,106,113,117,67,87,87,43,77,102,102,10,122,107,47,65,82,54,79,82,75,76,43,55,69,113,97,122,99,79,65,102,69,111,119,121,56,50,122,85,114,75,87,54,73,80,90,74,83,103,88,121,105,65,90,115,118,82,76,52,51,70,55,82,43,52,98,57,68,76,57,98,105,80,98,71,10,77,114,114,97,104,78,111,121,84,112,119,113,51,109,85,56,104,120,100,79,121,57,87,68,67,53,89,88,48,50,114,74,84,107,118,101,115,85,51,65,87,89,87,122,76,90,119,66,51,89,52,74,102,43,49,117,99,75,65,107,56,101,101,49,10,112,119,115,55,79,119,56,120,119,85,74,102,89,115,73,119,102,88,81,80,97,69,122,106,97,120,78,51,110,100,121,86,76,68,52,89,99,56,54,87,43,67,69,53,52,65,77,77,88,81,71,109,72,84,83,67,85,50,55,108,112,81,111,72,10,105,55,67,120,107,75,50,75,54,97,83,71,118,85,73,72,86,105,86,102,109,51,89,90,73,99,85,113,51,76,98,97,68,56,90,50,52,49,89,55,111,74,85,67,103,89,69,65,57,119,122,82,85,111,117,90,103,86,106,82,114,99,98,68,10,99,104,112,112,83,43,53,109,69,84,74,75,50,65,77,65,73,105,82,84,49,83,117,53,55,122,51,119,48,99,70,73,87,55,66,102,114,117,70,81,103,48,89,121,84,81,79,98,79,70,69,81,120,80,86,103,66,115,87,71,78,89,67,109,10,106,49,102,73,114,103,88,97,79,85,54,117,67,108,90,77,89,78,118,109,73,68,66,67,119,72,87,43,52,66,121,99,69,90,81,79,51,49,100,119,53,105,81,50,84,98,83,57,47,55,48,52,111,87,68,73,86,80,87,100,113,114,57,56,10,48,48,83,54,112,89,117,43,77,118,52,118,98,75,47,88,78,87,117,114,56,81,113,80,72,113,99,67,103,89,69,65,50,76,84,101,115,85,53,65,83,90,100,51,104,47,70,54,79,75,104,112,100,100,103,89,56,103,119,54,70,71],\"cert\":[45,45,45,45,45,66,69,71,73,78,32,67,69,82,84,73,70,73,67,65,84,69,45,45,45,45,45,10,77,73,73,70,98,84,67,67,66,70,87,103,65,119,73,66,65,103,73,83,65,119,121,48,117,90,71,109,67,104,79,86,56,86,81,113,114,70,57,80,89,78,99,43,77,65,48,71,67,83,113,71,83,73,98,51,68,81,69,66,67,119,85,65,10,77,68,73,120,67,122,65,74,66,103,78,86,66,65,89,84,65,108,86,84,77,82,89,119,70,65,89,68,86,81,81,75,69,119,49,77,90,88,81,110,99,121,66,70,98,109,78,121,101,88,66,48,77,81,115,119,67,81,89,68,86,81,81,68,10,69,119,74,83,77,122,65,101,70,119,48,121,77,68,69,121,77,68,73,120,77,106,69,51,77,84,78,97,70,119,48,121,77,84,65,122,77,68,73,120,77,106,69,51,77,84,78,97,77,68,56,120,80,84,65,55,66,103,78,86,66,65,77,84,10,78,71,57,119,100,71,108,50,90,87,85,116,99,50,86,121,100,109,86,121,76,109,100,108,99,109,49,104,98,110,108,51,90,88,78,48,89,50,86,117,100,72,74,104,98,67,53,106,98,71,57,49,90,71,70,119,99,67,53,104,101,110,86,121,10,90,83,53,106,98,50,48,119,103,103,69,105,77,65,48,71,67,83,113,71,83,73,98,51,68,81,69,66,65,81,85,65,65,52,73,66,68,119,65,119,103,103,69,75,65,111,73,66,65,81,68,82,73,86,121,74,68,76,110,117,77,57,86,120,10,86,89,79,100,47,121,53,57,85,66,119,109,77,74,121,115,77,90,51,97,90,120,66,87,114,72,85,56,103,108,109,117,110,48,122,103,78,80,107,51,111,97,67,56,65,103,75,117,118,110,86,86,105,82,50,88,77,70,49,77,49,66,43,65,10,78,106,117,90,71,105,67,110,83,74,105,56,68,113,66,83,109,57,114,66,115,71,99,72,68,84,105,115,111,113,78,71,67,104,66,104,104,57,51,69,115,75,74,115,85,65,49,47,82,51,86,119,112,116,65,81,107,88,47,69,50,112,90,52,10,86,120,107,108,82,112,122,121,100,74,112,88,120,85,103,51,108,101,55,108,78,110,89,67,72,118,116,107,122,115,110,98,49,76,51,99,110,52,85,49,120,66,110,48,90,57,110,100,104,104,52,101,113,52,113,109,66,71,53,106,68,120,51,111,10,71,56,84,69,65,114,97,73,78,68,86,77,76,118,111,122,119,99,104,75,107,57,43,54,81,72,71,115,102,121,98,56,113,69,121,99,74,52,49,103,80,53,119,87,109,86,106,88,75,82,118,73,73,86,84,47,84,72,100,104,78,67,110,121,10,99,78,101,52,84,89,104,104,55,57,112,122,103,49,78,108,81,111,84,100,65,66,51,90,71,86,98,122,97,48,55,47,74,50,48,81,84,75,52,75,122,97,69,71,69,48,67,56,79,116,77,68,116,75,114,55,81,54,81,82,120,72,107,117,10,81,50,51,117,54,85,80,70,65,103,77,66,65,65,71,106,103,103,74,117,77,73,73,67,97,106,65,79,66,103,78,86,72,81,56,66,65,102,56,69,66,65,77,67,66,97,65,119,72,81,89,68,86,82,48,108,66,66,89,119,70,65,89,73,10,75,119,89,66,66,81,85,72,65,119,69,71,67,67,115,71,65,81,85,70,66,119,77,67,77,65,119,71,65,49,85,100,69,119,69,66,47,119,81,67,77,65,65,119,72,81,89,68,86,82,48,79,66,66,89,69,70,70,90,66,54,99,86,77,10,82,114,69,79,117,103,106,71,108,52,47,112,65,121,112,70,74,47,90,49,77,66,56,71,65,49,85,100,73,119,81,89,77,66,97,65,70,66,81,117,115,120,101,51,87,70,98,76,114,108,65,74,81,79,89,102,114,53,50,76,70,77,76,71,10,77,70,85,71,67,67,115,71,65,81,85,70,66,119,69,66,66,69,107,119,82,122,65,104,66,103,103,114,66,103,69,70,66,81,99,119,65,89,89,86,97,72,82,48,99,68,111,118,76,51,73,122,76,109,56,117,98,71,86,117,89,51,73,117,10,98,51,74,110,77,67,73,71,67,67,115,71,65,81,85,70,66,122,65,67,104,104,90,111,100,72,82,119,79,105,56,118,99,106,77,117,97,83,53,115,90,87,53,106,99,105,53,118,99,109,99,118,77,68,56,71,65,49,85,100,69,81],\"honorCipherOrder\":true,\"sessionIdContext\":\"cc72b480224e5061c2d616db79897d01\",\"_sharedCreds\":{\"context\":{},\"alpnBuffer\":[8,104,116,116,112,47,49,46,49]},\"_events\":{},\"_eventsCount\":6,\"_maxListeners\":0,\"_connections\":3,\"_handle\":{\"reading\":false},\"_usingWorkers\":false,\"_workers\":[],\"_unref\":false,\"allowHalfOpen\":false,\"pauseOnConnect\":false,\"httpAllowHalfOpen\":false,\"timeout\":120000,\"keepAliveTimeout\":5000,\"maxHeadersCount\":null,\"headersTimeout\":60000,\"_connectionKey\":\"4:0.0.0.0:1880\"},\"requestCert\":false,\"rejectUnauthorized\":true,\"handshakeTimeout\":120000,\"ALPNProtocols\":[8,104,116,116,112,47,49,46,49],\"pauseOnConnect\":false},\"_secureEstablished\":true,\"_securePending\":false,\"_newSessionPending\":false,\"_controlReleased\":true,\"secureConnecting\":false,\"_SNICallback\":null,\"servername\":\"optivee-server.germanywestcentral.cloudapp.azure.com\",\"alpnProtocol\":false,\"authorized\":false,\"authorizationError\":null,\"encrypted\":true,\"_events\":{\"close\":[null,null,null,null],\"end\":[null,null]},\"_eventsCount\":11,\"connecting\":false,\"_hadError\":false,\"_parent\":\"[internal]\",\"_host\":null,\"_readableState\":{\"objectMode\":false,\"highWaterMark\":16384,\"buffer\":{\"head\":null,\"tail\":null,\"length\":0},\"length\":0,\"pipes\":null,\"pipesCount\":0,\"flowing\":true,\"ended\":false,\"endEmitted\":false,\"reading\":true,\"sync\":false,\"needReadable\":true,\"emittedReadable\":false,\"readableListening\":false,\"resumeScheduled\":false,\"emitClose\":false,\"autoDestroy\":false,\"destroyed\":false,\"defaultEncoding\":\"utf8\",\"awaitDrainWriters\":null,\"multiAwaitDrain\":false,\"readingMore\":false,\"decoder\":null,\"encoding\":null},\"readable\":true,\"_writableState\":{\"objectMode\":false,\"highWaterMark\":16384,\"finalCalled\":false,\"needDrain\":false,\"ending\":false,\"ended\":false,\"finished\":false,\"destroyed\":false,\"decodeStrings\":false,\"defaultEncoding\":\"utf8\",\"length\":0,\"writing\":false,\"corked\":0,\"sync\":true,\"bufferProcessing\":false,\"writecb\":null,\"writelen\":0,\"afterWriteTickInfo\":null,\"bufferedRequest\":null,\"lastBufferedRequest\":null,\"pendingcb\":0,\"prefinished\":false,\"errorEmitted\":false,\"emitClose\":false,\"autoDestroy\":false,\"bufferedRequestCount\":0,\"corkedRequestsFree\":{\"next\":null,\"entry\":null}},\"writable\":true,\"allowHalfOpen\":false,\"_sockname\":null,\"_pendingData\":null,\"_pendingEncoding\":\"\",\"server\":{\"_contexts\":[],\"requestCert\":false,\"rejectUnauthorized\":true,\"ALPNProtocols\":[8,104,116,116,112,47,49,46,49],\"key\":[45,45,45,45,45,66,69,71,73,78,32,80,82,73,86,65,84,69,32,75,69,89,45,45,45,45,45,10,77,73,73,69,118,119,73,66,65,68,65,78,66,103,107,113,104,107,105,71,57,119,48,66,65,81,69,70,65,65,83,67,66,75,107,119,103,103,83,108,65,103,69,65,65,111,73,66,65,81,68,82,73,86,121,74,68,76,110,117,77,57,86,120,10,86,89,79,100,47,121,53,57,85,66,119,109,77,74,121,115,77,90,51,97,90,120,66,87,114,72,85,56,103,108,109,117,110,48,122,103,78,80,107,51,111,97,67,56,65,103,75,117,118,110,86,86,105,82,50,88,77,70,49,77,49,66,43,65,10,78,106,117,90,71,105,67,110,83,74,105,56,68,113,66,83,109,57,114,66,115,71,99,72,68,84,105,115,111,113,78,71,67,104,66,104,104,57,51,69,115,75,74,115,85,65,49,47,82,51,86,119,112,116,65,81,107,88,47,69,50,112,90,52,10,86,120,107,108,82,112,122,121,100,74,112,88,120,85,103,51,108,101,55,108,78,110,89,67,72,118,116,107,122,115,110,98,49,76,51,99,110,52,85,49,120,66,110,48,90,57,110,100,104,104,52,101,113,52,113,109,66,71,53,106,68,120,51,111,10,71,56,84,69,65,114,97,73,78,68,86,77,76,118,111,122,119,99,104,75,107,57,43,54,81,72,71,115,102,121,98,56,113,69,121,99,74,52,49,103,80,53,119,87,109,86,106,88,75,82,118,73,73,86,84,47,84,72,100,104,78,67,110,121,10,99,78,101,52,84,89,104,104,55,57,112,122,103,49,78,108,81,111,84,100,65,66,51,90,71,86,98,122,97,48,55,47,74,50,48,81,84,75,52,75,122,97,69,71,69,48,67,56,79,116,77,68,116,75,114,55,81,54,81,82,120,72,107,117,10,81,50,51,117,54,85,80,70,65,103,77,66,65,65,69,67,103,103,69,66,65,76,103,49,87,97,119,67,103,76,103,89,65,106,100,57,75,112,122,43,68,72,89,110,72,86,82,113,86,50,97,53,111,97,67,105,84,100,114,54,116,53,50,102,10,57,57,122,47,120,112,104,114,77,79,90,87,119,82,48,53,55,67,68,57,57,74,53,117,85,53,107,55,54,99,76,108,121,103,87,71,80,56,76,104,74,56,103,83,65,121,56,75,57,120,56,115,49,50,106,113,117,67,87,87,43,77,102,102,10,122,107,47,65,82,54,79,82,75,76,43,55,69,113,97,122,99,79,65,102,69,111,119,121,56,50,122,85,114,75,87,54,73,80,90,74,83,103,88,121,105,65,90,115,118,82,76,52,51,70,55,82,43,52,98,57,68,76,57,98,105,80,98,71,10,77,114,114,97,104,78,111,121,84,112,119,113,51,109,85,56,104,120,100,79,121,57,87,68,67,53,89,88,48,50,114,74,84,107,118,101,115,85,51,65,87,89,87,122,76,90,119,66,51,89,52,74,102,43,49,117,99,75,65,107,56,101,101,49,10,112,119,115,55,79,119,56,120,119,85,74,102,89,115,73,119,102,88,81,80,97,69,122,106,97,120,78,51,110,100,121,86,76,68,52,89,99,56,54,87,43,67,69,53,52,65,77,77,88,81,71,109,72,84,83,67,85,50,55,108,112,81,111,72,10,105,55,67,120,107,75,50,75,54,97,83,71,118,85,73,72,86,105,86,102,109,51,89,90,73,99,85,113,51,76,98,97,68,56,90,50,52,49,89,55,111,74,85,67,103,89,69,65,57,119,122,82,85,111,117,90,103,86,106,82,114,99,98,68,10,99,104,112,112,83,43,53,109,69,84,74,75,50,65,77,65,73,105,82,84,49,83,117,53,55,122,51,119,48,99,70,73,87,55,66,102,114,117,70,81,103,48,89,121,84,81,79,98,79,70,69,81,120,80,86,103,66,115,87,71,78,89,67,109,10,106,49,102,73,114,103,88,97,79,85,54,117,67,108,90,77,89,78,118,109,73,68,66,67,119,72,87,43,52,66,121,99,69,90,81,79,51,49,100,119,53,105,81,50,84,98,83,57,47,55,48,52,111,87,68,73,86,80,87,100,113,114,57,56,10,48,48,83,54,112,89,117,43,77,118,52,118,98,75,47,88,78,87,117,114,56,81,113,80,72,113,99,67,103,89,69,65,50,76,84,101,115,85,53,65,83,90,100,51,104,47,70,54,79,75,104,112,100,100,103,89,56,103,119,54,70,71],\"cert\":[45,45,45,45,45,66,69,71,73,78,32,67,69,82,84,73,70,73,67,65,84,69,45,45,45,45,45,10,77,73,73,70,98,84,67,67,66,70,87,103,65,119,73,66,65,103,73,83,65,119,121,48,117,90,71,109,67,104,79,86,56,86,81,113,114,70,57,80,89,78,99,43,77,65,48,71,67,83,113,71,83,73,98,51,68,81,69,66,67,119,85,65,10,77,68,73,120,67,122,65,74,66,103,78,86,66,65,89,84,65,108,86,84,77,82,89,119,70,65,89,68,86,81,81,75,69,119,49,77,90,88,81,110,99,121,66,70,98,109,78,121,101,88,66,48,77,81,115,119,67,81,89,68,86,81,81,68,10,69,119,74,83,77,122,65,101,70,119,48,121,77,68,69,121,77,68,73,120,77,106,69,51,77,84,78,97,70,119,48,121,77,84,65,122,77,68,73,120,77,106,69,51,77,84,78,97,77,68,56,120,80,84,65,55,66,103,78,86,66,65,77,84,10,78,71,57,119,100,71,108,50,90,87,85,116,99,50,86,121,100,109,86,121,76,109,100,108,99,109,49,104,98,110,108,51,90,88,78,48,89,50,86,117,100,72,74,104,98,67,53,106,98,71,57,49,90,71,70,119,99,67,53,104,101,110,86,121,10,90,83,53,106,98,50,48,119,103,103,69,105,77,65,48,71,67,83,113,71,83,73,98,51,68,81,69,66,65,81,85,65,65,52,73,66,68,119,65,119,103,103,69,75,65,111,73,66,65,81,68,82,73,86,121,74,68,76,110,117,77,57,86,120,10,86,89,79,100,47,121,53,57,85,66,119,109,77,74,121,115,77,90,51,97,90,120,66,87,114,72,85,56,103,108,109,117,110,48,122,103,78,80,107,51,111,97,67,56,65,103,75,117,118,110,86,86,105,82,50,88,77,70,49,77,49,66,43,65,10,78,106,117,90,71,105,67,110,83,74,105,56,68,113,66,83,109,57,114,66,115,71,99,72,68,84,105,115,111,113,78,71,67,104,66,104,104,57,51,69,115,75,74,115,85,65,49,47,82,51,86,119,112,116,65,81,107,88,47,69,50,112,90,52,10,86,120,107,108,82,112,122,121,100,74,112,88,120,85,103,51,108,101,55,108,78,110,89,67,72,118,116,107,122,115,110,98,49,76,51,99,110,52,85,49,120,66,110,48,90,57,110,100,104,104,52,101,113,52,113,109,66,71,53,106,68,120,51,111,10,71,56,84,69,65,114,97,73,78,68,86,77,76,118,111,122,119,99,104,75,107,57,43,54,81,72,71,115,102,121,98,56,113,69,121,99,74,52,49,103,80,53,119,87,109,86,106,88,75,82,118,73,73,86,84,47,84,72,100,104,78,67,110,121,10,99,78,101,52,84,89,104,104,55,57,112,122,103,49,78,108,81,111,84,100,65,66,51,90,71,86,98,122,97,48,55,47,74,50,48,81,84,75,52,75,122,97,69,71,69,48,67,56,79,116,77,68,116,75,114,55,81,54,81,82,120,72,107,117,10,81,50,51,117,54,85,80,70,65,103,77,66,65,65,71,106,103,103,74,117,77,73,73,67,97,106,65,79,66,103,78,86,72,81,56,66,65,102,56,69,66,65,77,67,66,97,65,119,72,81,89,68,86,82,48,108,66,66,89,119,70,65,89,73,10,75,119,89,66,66,81,85,72,65,119,69,71,67,67,115,71,65,81,85,70,66,119,77,67,77,65,119,71,65,49,85,100,69,119,69,66,47,119,81,67,77,65,65,119,72,81,89,68,86,82,48,79,66,66,89,69,70,70,90,66,54,99,86,77,10,82,114,69,79,117,103,106,71,108,52,47,112,65,121,112,70,74,47,90,49,77,66,56,71,65,49,85,100,73,119,81,89,77,66,97,65,70,66,81,117,115,120,101,51,87,70,98,76,114,108,65,74,81,79,89,102,114,53,50,76,70,77,76,71,10,77,70,85,71,67,67,115,71,65,81,85,70,66,119,69,66,66,69,107,119,82,122,65,104,66,103,103,114,66,103,69,70,66,81,99,119,65,89,89,86,97,72,82,48,99,68,111,118,76,51,73,122,76,109,56,117,98,71,86,117,89,51,73,117,10,98,51,74,110,77,67,73,71,67,67,115,71,65,81,85,70,66,122,65,67,104,104,90,111,100,72,82,119,79,105,56,118,99,106,77,117,97,83,53,115,90,87,53,106,99,105,53,118,99,109,99,118,77,68,56,71,65,49,85,100,69,81],\"honorCipherOrder\":true,\"sessionIdContext\":\"cc72b480224e5061c2d616db79897d01\",\"_sharedCreds\":{\"context\":{},\"alpnBuffer\":[8,104,116,116,112,47,49,46,49]},\"_events\":{},\"_eventsCount\":6,\"_maxListeners\":0,\"_connections\":3,\"_handle\":{\"reading\":false},\"_usingWorkers\":false,\"_workers\":[],\"_unref\":false,\"allowHalfOpen\":false,\"pauseOnConnect\":false,\"httpAllowHalfOpen\":false,\"timeout\":120000,\"keepAliveTimeout\":5000,\"maxHeadersCount\":null,\"headersTimeout\":60000,\"_connectionKey\":\"4:0.0.0.0:1880\"},\"_server\":null,\"ssl\":{\"_parent\":{\"reading\":true,\"onconnection\":null},\"_parentWrap\":\"[internal]\",\"_secureContext\":{\"context\":{},\"alpnBuffer\":[8,104,116,116,112,47,49,46,49]},\"reading\":true,\"lastHandshakeTime\":1315199,\"handshakes\":0,\"_consumed\":true},\"_requestCert\":false,\"_rejectUnauthorized\":true,\"timeout\":120000,\"parser\":{\"_headers\":[],\"_url\":\"\",\"socket\":\"[Circular ~.req.connection]\",\"incoming\":\"[Circular ~.req]\",\"outgoing\":null,\"maxHeaderPairs\":2000,\"_consumed\":true},\"_paused\":false,\"_httpMessage\":\"[internal]\"},\"httpVersionMajor\":1,\"httpVersionMinor\":1,\"httpVersion\":\"1.1\",\"complete\":true,\"headers\":{\"accept\":\"text/plain, application/json, application/*+json, */*\",\"things-message-token\":\"7590d20d9f638607fe30c693784de48c3bea918ad4356b1b407141180ae6b74a\",\"things-plug-uuid\":\"8a98339e-ea42-4223-ba6b-0c8e867c970a\",\"content-type\":\"application/json\",\"things-device-barcode\":\"NULL\",\"accept-charset\":\"big5, big5-hkscs, cesu-8, euc-jp, euc-kr, gb18030, gb2312, gbk, ibm-thai, ibm00858, ibm01140, ibm01141, ibm01142, ibm01143, ibm01144, ibm01145, ibm01146, ibm01147, ibm01148, ibm01149, ibm037, ibm1026, ibm1047, ibm273, ibm277, ibm278, ibm280, ibm284, ibm285, ibm290, ibm297, ibm420, ibm424, ibm437, ibm500, ibm775, ibm850, ibm852, ibm855, ibm857, ibm860, ibm861, ibm862, ibm863, ibm864, ibm865, ibm866, ibm868, ibm869, ibm870, ibm871, ibm918, iso-2022-cn, iso-2022-jp, iso-2022-jp-2, iso-2022-kr, iso-8859-1, iso-8859-13, iso-8859-15, iso-8859-16, iso-8859-2, iso-8859-3, iso-8859-4, iso-8859-5, iso-8859-6, iso-8859-7, iso-8859-8, iso-8859-9, jis_x0201, jis_x0212-1990, koi8-r, koi8-u, shift_jis, tis-620, us-ascii, utf-16, utf-16be, utf-16le, utf-32, utf-32be, utf-32le, utf-8, windows-1250, windows-1251, windows-1252, windows-1253, windows-1254, windows-1255, windows-1256, windows-1257, windows-1258, windows-31j, x-big5-hkscs-2001, x-big5-solaris, x-euc-jp-linux, x-euc-tw, x-eucjp-open, x-ibm10...\",\"content-length\":\"157\",\"host\":\"optivee-server.germanywestcentral.cloudapp.azure.com\",\"connection\":\"Keep-Alive\",\"user-agent\":\"Apache-HttpClient/4.5.9 (Java/11.0.9)\",\"accept-encoding\":\"gzip,deflate\"},\"rawHeaders\":[\"Accept\",\"text/plain, application/json, application/*+json, */*\",\"Things-Message-Token\",\"7590d20d9f638607fe30c693784de48c3bea918ad4356b1b407141180ae6b74a\",\"Things-Plug-UUID\",\"8a98339e-ea42-4223-ba6b-0c8e867c970a\",\"Content-Type\",\"application/json\",\"Things-Device-Barcode\",\"NULL\",\"Accept-Charset\",\"big5, big5-hkscs, cesu-8, euc-jp, euc-kr, gb18030, gb2312, gbk, ibm-thai, ibm00858, ibm01140, ibm01141, ibm01142, ibm01143, ibm01144, ibm01145, ibm01146, ibm01147, ibm01148, ibm01149, ibm037, ibm1026, ibm1047, ibm273, ibm277, ibm278, ibm280, ibm284, ibm285, ibm290, ibm297, ibm420, ibm424, ibm437, ibm500, ibm775, ibm850, ibm852, ibm855, ibm857, ibm860, ibm861, ibm862, ibm863, ibm864, ibm865, ibm866, ibm868, ibm869, ibm870, ibm871, ibm918, iso-2022-cn, iso-2022-jp, iso-2022-jp-2, iso-2022-kr, iso-8859-1, iso-8859-13, iso-8859-15, iso-8859-16, iso-8859-2, iso-8859-3, iso-8859-4, iso-8859-5, iso-8859-6, iso-8859-7, iso-8859-8, iso-8859-9, jis_x0201, jis_x0212-1990, koi8-r, koi8-u, shift_jis, tis-620, us-ascii, utf-16, utf-16be, utf-16le, utf-32, utf-32be, utf-32le, utf-8, windows-1250, windows-1251, windows-1252, windows-1253, windows-1254, windows-1255, windows-1256, windows-1257, windows-1258, windows-31j, x-big5-hkscs-2001, x-big5-solaris, x-euc-jp-linux, x-euc-tw, x-eucjp-open, x-ibm10...\",\"Content-Length\",\"157\",\"Host\",\"optivee-server.germanywestcentral.cloudapp.azure.com\",\"Connection\",\"Keep-Alive\",\"User-Agent\",\"Apache-HttpClient/4.5.9 (Java/11.0.9)\",\"Accept-Encoding\",\"gzip,deflate\"],\"trailers\":{},\"rawTrailers\":[],\"aborted\":false,\"upgrade\":false,\"url\":\"/lora\",\"method\":\"POST\",\"statusCode\":null,\"statusMessage\":null,\"client\":{\"_tlsOptions\":{\"secureContext\":{\"context\":{},\"alpnBuffer\":[8,104,116,116,112,47,49,46,49]},\"isServer\":true,\"server\":{\"_contexts\":[],\"requestCert\":false,\"rejectUnauthorized\":true,\"ALPNProtocols\":[8,104,116,116,112,47,49,46,49],\"key\":[45,45,45,45,45,66,69,71,73,78,32,80,82,73,86,65,84,69,32,75,69,89,45,45,45,45,45,10,77,73,73,69,118,119,73,66,65,68,65,78,66,103,107,113,104,107,105,71,57,119,48,66,65,81,69,70,65,65,83,67,66,75,107,119,103,103,83,108,65,103,69,65,65,111,73,66,65,81,68,82,73,86,121,74,68,76,110,117,77,57,86,120,10,86,89,79,100,47,121,53,57,85,66,119,109,77,74,121,115,77,90,51,97,90,120,66,87,114,72,85,56,103,108,109,117,110,48,122,103,78,80,107,51,111,97,67,56,65,103,75,117,118,110,86,86,105,82,50,88,77,70,49,77,49,66,43,65,10,78,106,117,90,71,105,67,110,83,74,105,56,68,113,66,83,109,57,114,66,115,71,99,72,68,84,105,115,111,113,78,71,67,104,66,104,104,57,51,69,115,75,74,115,85,65,49,47,82,51,86,119,112,116,65,81,107,88,47,69,50,112,90,52,10,86,120,107,108,82,112,122,121,100,74,112,88,120,85,103,51,108,101,55,108,78,110,89,67,72,118,116,107,122,115,110,98,49,76,51,99,110,52,85,49,120,66,110,48,90,57,110,100,104,104,52,101,113,52,113,109,66,71,53,106,68,120,51,111,10,71,56,84,69,65,114,97,73,78,68,86,77,76,118,111,122,119,99,104,75,107,57,43,54,81,72,71,115,102,121,98,56,113,69,121,99,74,52,49,103,80,53,119,87,109,86,106,88,75,82,118,73,73,86,84,47,84,72,100,104,78,67,110,121,10,99,78,101,52,84,89,104,104,55,57,112,122,103,49,78,108,81,111,84,100,65,66,51,90,71,86,98,122,97,48,55,47,74,50,48,81,84,75,52,75,122,97,69,71,69,48,67,56,79,116,77,68,116,75,114,55,81,54,81,82,120,72,107,117,10,81,50,51,117,54,85,80,70,65,103,77,66,65,65,69,67,103,103,69,66,65,76,103,49,87,97,119,67,103,76,103,89,65,106,100,57,75,112,122,43,68,72,89,110,72,86,82,113,86,50,97,53,111,97,67,105,84,100,114,54,116,53,50,102,10,57,57,122,47,120,112,104,114,77,79,90,87,119,82,48,53,55,67,68,57,57,74,53,117,85,53,107,55,54,99,76,108,121,103,87,71,80,56,76,104,74,56,103,83,65,121,56,75,57,120,56,115,49,50,106,113,117,67,87,87,43,77,102,102,10,122,107,47,65,82,54,79,82,75,76,43,55,69,113,97,122,99,79,65,102,69,111,119,121,56,50,122,85,114,75,87,54,73,80,90,74,83,103,88,121,105,65,90,115,118,82,76,52,51,70,55,82,43,52,98,57,68,76,57,98,105,80,98,71,10,77,114,114,97,104,78,111,121,84,112,119,113,51,109,85,56,104,120,100,79,121,57,87,68,67,53,89,88,48,50,114,74,84,107,118,101,115,85,51,65,87,89,87,122,76,90,119,66,51,89,52,74,102,43,49,117,99,75,65,107,56,101,101,49,10,112,119,115,55,79,119,56,120,119,85,74,102,89,115,73,119,102,88,81,80,97,69,122,106,97,120,78,51,110,100,121,86,76,68,52,89,99,56,54,87,43,67,69,53,52,65,77,77,88,81,71,109,72,84,83,67,85,50,55,108,112,81,111,72,10,105,55,67,120,107,75,50,75,54,97,83,71,118,85,73,72,86,105,86,102,109,51,89,90,73,99,85,113,51,76,98,97,68,56,90,50,52,49,89,55,111,74,85,67,103,89,69,65,57,119,122,82,85,111,117,90,103,86,106,82,114,99,98,68,10,99,104,112,112,83,43,53,109,69,84,74,75,50,65,77,65,73,105,82,84,49,83,117,53,55,122,51,119,48,99,70,73,87,55,66,102,114,117,70,81,103,48,89,121,84,81,79,98,79,70,69,81,120,80,86,103,66,115,87,71,78,89,67,109,10,106,49,102,73,114,103,88,97,79,85,54,117,67,108,90,77,89,78,118,109,73,68,66,67,119,72,87,43,52,66,121,99,69,90,81,79,51,49,100,119,53,105,81,50,84,98,83,57,47,55,48,52,111,87,68,73,86,80,87,100,113,114,57,56,10,48,48,83,54,112,89,117,43,77,118,52,118,98,75,47,88,78,87,117,114,56,81,113,80,72,113,99,67,103,89,69,65,50,76,84,101,115,85,53,65,83,90,100,51,104,47,70,54,79,75,104,112,100,100,103,89,56,103,119,54,70,71],\"cert\":[45,45,45,45,45,66,69,71,73,78,32,67,69,82,84,73,70,73,67,65,84,69,45,45,45,45,45,10,77,73,73,70,98,84,67,67,66,70,87,103,65,119,73,66,65,103,73,83,65,119,121,48,117,90,71,109,67,104,79,86,56,86,81,113,114,70,57,80,89,78,99,43,77,65,48,71,67,83,113,71,83,73,98,51,68,81,69,66,67,119,85,65,10,77,68,73,120,67,122,65,74,66,103,78,86,66,65,89,84,65,108,86,84,77,82,89,119,70,65,89,68,86,81,81,75,69,119,49,77,90,88,81,110,99,121,66,70,98,109,78,121,101,88,66,48,77,81,115,119,67,81,89,68,86,81,81,68,10,69,119,74,83,77,122,65,101,70,119,48,121,77,68,69,121,77,68,73,120,77,106,69,51,77,84,78,97,70,119,48,121,77,84,65,122,77,68,73,120,77,106,69,51,77,84,78,97,77,68,56,120,80,84,65,55,66,103,78,86,66,65,77,84,10,78,71,57,119,100,71,108,50,90,87,85,116,99,50,86,121,100,109,86,121,76,109,100,108,99,109,49,104,98,110,108,51,90,88,78,48,89,50,86,117,100,72,74,104,98,67,53,106,98,71,57,49,90,71,70,119,99,67,53,104,101,110,86,121,10,90,83,53,106,98,50,48,119,103,103,69,105,77,65,48,71,67,83,113,71,83,73,98,51,68,81,69,66,65,81,85,65,65,52,73,66,68,119,65,119,103,103,69,75,65,111,73,66,65,81,68,82,73,86,121,74,68,76,110,117,77,57,86,120,10,86,89,79,100,47,121,53,57,85,66,119,109,77,74,121,115,77,90,51,97,90,120,66,87,114,72,85,56,103,108,109,117,110,48,122,103,78,80,107,51,111,97,67,56,65,103,75,117,118,110,86,86,105,82,50,88,77,70,49,77,49,66,43,65,10,78,106,117,90,71,105,67,110,83,74,105,56,68,113,66,83,109,57,114,66,115,71,99,72,68,84,105,115,111,113,78,71,67,104,66,104,104,57,51,69,115,75,74,115,85,65,49,47,82,51,86,119,112,116,65,81,107,88,47,69,50,112,90,52,10,86,120,107,108,82,112,122,121,100,74,112,88,120,85,103,51,108,101,55,108,78,110,89,67,72,118,116,107,122,115,110,98,49,76,51,99,110,52,85,49,120,66,110,48,90,57,110,100,104,104,52,101,113,52,113,109,66,71,53,106,68,120,51,111,10,71,56,84,69,65,114,97,73,78,68,86,77,76,118,111,122,119,99,104,75,107,57,43,54,81,72,71,115,102,121,98,56,113,69,121,99,74,52,49,103,80,53,119,87,109,86,106,88,75,82,118,73,73,86,84,47,84,72,100,104,78,67,110,121,10,99,78,101,52,84,89,104,104,55,57,112,122,103,49,78,108,81,111,84,100,65,66,51,90,71,86,98,122,97,48,55,47,74,50,48,81,84,75,52,75,122,97,69,71,69,48,67,56,79,116,77,68,116,75,114,55,81,54,81,82,120,72,107,117,10,81,50,51,117,54,85,80,70,65,103,77,66,65,65,71,106,103,103,74,117,77,73,73,67,97,106,65,79,66,103,78,86,72,81,56,66,65,102,56,69,66,65,77,67,66,97,65,119,72,81,89,68,86,82,48,108,66,66,89,119,70,65,89,73,10,75,119,89,66,66,81,85,72,65,119,69,71,67,67,115,71,65,81,85,70,66,119,77,67,77,65,119,71,65,49,85,100,69,119,69,66,47,119,81,67,77,65,65,119,72,81,89,68,86,82,48,79,66,66,89,69,70,70,90,66,54,99,86,77,10,82,114,69,79,117,103,106,71,108,52,47,112,65,121,112,70,74,47,90,49,77,66,56,71,65,49,85,100,73,119,81,89,77,66,97,65,70,66,81,117,115,120,101,51,87,70,98,76,114,108,65,74,81,79,89,102,114,53,50,76,70,77,76,71,10,77,70,85,71,67,67,115,71,65,81,85,70,66,119,69,66,66,69,107,119,82,122,65,104,66,103,103,114,66,103,69,70,66,81,99,119,65,89,89,86,97,72,82,48,99,68,111,118,76,51,73,122,76,109,56,117,98,71,86,117,89,51,73,117,10,98,51,74,110,77,67,73,71,67,67,115,71,65,81,85,70,66,122,65,67,104,104,90,111,100,72,82,119,79,105,56,118,99,106,77,117,97,83,53,115,90,87,53,106,99,105,53,118,99,109,99,118,77,68,56,71,65,49,85,100,69,81],\"honorCipherOrder\":true,\"sessionIdContext\":\"cc72b480224e5061c2d616db79897d01\",\"_sharedCreds\":{\"context\":{},\"alpnBuffer\":[8,104,116,116,112,47,49,46,49]},\"_events\":{},\"_eventsCount\":6,\"_maxListeners\":0,\"_connections\":3,\"_handle\":{\"reading\":false},\"_usingWorkers\":false,\"_workers\":[],\"_unref\":false,\"allowHalfOpen\":false,\"pauseOnConnect\":false,\"httpAllowHalfOpen\":false,\"timeout\":120000,\"keepAliveTimeout\":5000,\"maxHeadersCount\":null,\"headersTimeout\":60000,\"_connectionKey\":\"4:0.0.0.0:1880\"},\"requestCert\":false,\"rejectUnauthorized\":true,\"handshakeTimeout\":120000,\"ALPNProtocols\":[8,104,116,116,112,47,49,46,49],\"pauseOnConnect\":false},\"_secureEstablished\":true,\"_securePending\":false,\"_newSessionPending\":false,\"_controlReleased\":true,\"secureConnecting\":false,\"_SNICallback\":null,\"servername\":\"optivee-server.germanywestcentral.cloudapp.azure.com\",\"alpnProtocol\":false,\"authorized\":false,\"authorizationError\":null,\"encrypted\":true,\"_events\":{\"close\":[null,null,null,null],\"end\":[null,null]},\"_eventsCount\":11,\"connecting\":false,\"_hadError\":false,\"_parent\":\"[internal]\",\"_host\":null,\"_readableState\":{\"objectMode\":false,\"highWaterMark\":16384,\"buffer\":{\"head\":null,\"tail\":null,\"length\":0},\"length\":0,\"pipes\":null,\"pipesCount\":0,\"flowing\":true,\"ended\":false,\"endEmitted\":false,\"reading\":true,\"sync\":false,\"needReadable\":true,\"emittedReadable\":false,\"readableListening\":false,\"resumeScheduled\":false,\"emitClose\":false,\"autoDestroy\":false,\"destroyed\":false,\"defaultEncoding\":\"utf8\",\"awaitDrainWriters\":null,\"multiAwaitDrain\":false,\"readingMore\":false,\"decoder\":null,\"encoding\":null},\"readable\":true,\"_writableState\":{\"objectMode\":false,\"highWaterMark\":16384,\"finalCalled\":false,\"needDrain\":false,\"ending\":false,\"ended\":false,\"finished\":false,\"destroyed\":false,\"decodeStrings\":false,\"defaultEncoding\":\"utf8\",\"length\":0,\"writing\":false,\"corked\":0,\"sync\":true,\"bufferProcessing\":false,\"writecb\":null,\"writelen\":0,\"afterWriteTickInfo\":null,\"bufferedRequest\":null,\"lastBufferedRequest\":null,\"pendingcb\":0,\"prefinished\":false,\"errorEmitted\":false,\"emitClose\":false,\"autoDestroy\":false,\"bufferedRequestCount\":0,\"corkedRequestsFree\":{\"next\":null,\"entry\":null}},\"writable\":true,\"allowHalfOpen\":false,\"_sockname\":null,\"_pendingData\":null,\"_pendingEncoding\":\"\",\"server\":{\"_contexts\":[],\"requestCert\":false,\"rejectUnauthorized\":true,\"ALPNProtocols\":[8,104,116,116,112,47,49,46,49],\"key\":[45,45,45,45,45,66,69,71,73,78,32,80,82,73,86,65,84,69,32,75,69,89,45,45,45,45,45,10,77,73,73,69,118,119,73,66,65,68,65,78,66,103,107,113,104,107,105,71,57,119,48,66,65,81,69,70,65,65,83,67,66,75,107,119,103,103,83,108,65,103,69,65,65,111,73,66,65,81,68,82,73,86,121,74,68,76,110,117,77,57,86,120,10,86,89,79,100,47,121,53,57,85,66,119,109,77,74,121,115,77,90,51,97,90,120,66,87,114,72,85,56,103,108,109,117,110,48,122,103,78,80,107,51,111,97,67,56,65,103,75,117,118,110,86,86,105,82,50,88,77,70,49,77,49,66,43,65,10,78,106,117,90,71,105,67,110,83,74,105,56,68,113,66,83,109,57,114,66,115,71,99,72,68,84,105,115,111,113,78,71,67,104,66,104,104,57,51,69,115,75,74,115,85,65,49,47,82,51,86,119,112,116,65,81,107,88,47,69,50,112,90,52,10,86,120,107,108,82,112,122,121,100,74,112,88,120,85,103,51,108,101,55,108,78,110,89,67,72,118,116,107,122,115,110,98,49,76,51,99,110,52,85,49,120,66,110,48,90,57,110,100,104,104,52,101,113,52,113,109,66,71,53,106,68,120,51,111,10,71,56,84,69,65,114,97,73,78,68,86,77,76,118,111,122,119,99,104,75,107,57,43,54,81,72,71,115,102,121,98,56,113,69,121,99,74,52,49,103,80,53,119,87,109,86,106,88,75,82,118,73,73,86,84,47,84,72,100,104,78,67,110,121,10,99,78,101,52,84,89,104,104,55,57,112,122,103,49,78,108,81,111,84,100,65,66,51,90,71,86,98,122,97,48,55,47,74,50,48,81,84,75,52,75,122,97,69,71,69,48,67,56,79,116,77,68,116,75,114,55,81,54,81,82,120,72,107,117,10,81,50,51,117,54,85,80,70,65,103,77,66,65,65,69,67,103,103,69,66,65,76,103,49,87,97,119,67,103,76,103,89,65,106,100,57,75,112,122,43,68,72,89,110,72,86,82,113,86,50,97,53,111,97,67,105,84,100,114,54,116,53,50,102,10,57,57,122,47,120,112,104,114,77,79,90,87,119,82,48,53,55,67,68,57,57,74,53,117,85,53,107,55,54,99,76,108,121,103,87,71,80,56,76,104,74,56,103,83,65,121,56,75,57,120,56,115,49,50,106,113,117,67,87,87,43,77,102,102,10,122,107,47,65,82,54,79,82,75,76,43,55,69,113,97,122,99,79,65,102,69,111,119,121,56,50,122,85,114,75,87,54,73,80,90,74,83,103,88,121,105,65,90,115,118,82,76,52,51,70,55,82,43,52,98,57,68,76,57,98,105,80,98,71,10,77,114,114,97,104,78,111,121,84,112,119,113,51,109,85,56,104,120,100,79,121,57,87,68,67,53,89,88,48,50,114,74,84,107,118,101,115,85,51,65,87,89,87,122,76,90,119,66,51,89,52,74,102,43,49,117,99,75,65,107,56,101,101,49,10,112,119,115,55,79,119,56,120,119,85,74,102,89,115,73,119,102,88,81,80,97,69,122,106,97,120,78,51,110,100,121,86,76,68,52,89,99,56,54,87,43,67,69,53,52,65,77,77,88,81,71,109,72,84,83,67,85,50,55,108,112,81,111,72,10,105,55,67,120,107,75,50,75,54,97,83,71,118,85,73,72,86,105,86,102,109,51,89,90,73,99,85,113,51,76,98,97,68,56,90,50,52,49,89,55,111,74,85,67,103,89,69,65,57,119,122,82,85,111,117,90,103,86,106,82,114,99,98,68,10,99,104,112,112,83,43,53,109,69,84,74,75,50,65,77,65,73,105,82,84,49,83,117,53,55,122,51,119,48,99,70,73,87,55,66,102,114,117,70,81,103,48,89,121,84,81,79,98,79,70,69,81,120,80,86,103,66,115,87,71,78,89,67,109,10,106,49,102,73,114,103,88,97,79,85,54,117,67,108,90,77,89,78,118,109,73,68,66,67,119,72,87,43,52,66,121,99,69,90,81,79,51,49,100,119,53,105,81,50,84,98,83,57,47,55,48,52,111,87,68,73,86,80,87,100,113,114,57,56,10,48,48,83,54,112,89,117,43,77,118,52,118,98,75,47,88,78,87,117,114,56,81,113,80,72,113,99,67,103,89,69,65,50,76,84,101,115,85,53,65,83,90,100,51,104,47,70,54,79,75,104,112,100,100,103,89,56,103,119,54,70,71],\"cert\":[45,45,45,45,45,66,69,71,73,78,32,67,69,82,84,73,70,73,67,65,84,69,45,45,45,45,45,10,77,73,73,70,98,84,67,67,66,70,87,103,65,119,73,66,65,103,73,83,65,119,121,48,117,90,71,109,67,104,79,86,56,86,81,113,114,70,57,80,89,78,99,43,77,65,48,71,67,83,113,71,83,73,98,51,68,81,69,66,67,119,85,65,10,77,68,73,120,67,122,65,74,66,103,78,86,66,65,89,84,65,108,86,84,77,82,89,119,70,65,89,68,86,81,81,75,69,119,49,77,90,88,81,110,99,121,66,70,98,109,78,121,101,88,66,48,77,81,115,119,67,81,89,68,86,81,81,68,10,69,119,74,83,77,122,65,101,70,119,48,121,77,68,69,121,77,68,73,120,77,106,69,51,77,84,78,97,70,119,48,121,77,84,65,122,77,68,73,120,77,106,69,51,77,84,78,97,77,68,56,120,80,84,65,55,66,103,78,86,66,65,77,84,10,78,71,57,119,100,71,108,50,90,87,85,116,99,50,86,121,100,109,86,121,76,109,100,108,99,109,49,104,98,110,108,51,90,88,78,48,89,50,86,117,100,72,74,104,98,67,53,106,98,71,57,49,90,71,70,119,99,67,53,104,101,110,86,121,10,90,83,53,106,98,50,48,119,103,103,69,105,77,65,48,71,67,83,113,71,83,73,98,51,68,81,69,66,65,81,85,65,65,52,73,66,68,119,65,119,103,103,69,75,65,111,73,66,65,81,68,82,73,86,121,74,68,76,110,117,77,57,86,120,10,86,89,79,100,47,121,53,57,85,66,119,109,77,74,121,115,77,90,51,97,90,120,66,87,114,72,85,56,103,108,109,117,110,48,122,103,78,80,107,51,111,97,67,56,65,103,75,117,118,110,86,86,105,82,50,88,77,70,49,77,49,66,43,65,10,78,106,117,90,71,105,67,110,83,74,105,56,68,113,66,83,109,57,114,66,115,71,99,72,68,84,105,115,111,113,78,71,67,104,66,104,104,57,51,69,115,75,74,115,85,65,49,47,82,51,86,119,112,116,65,81,107,88,47,69,50,112,90,52,10,86,120,107,108,82,112,122,121,100,74,112,88,120,85,103,51,108,101,55,108,78,110,89,67,72,118,116,107,122,115,110,98,49,76,51,99,110,52,85,49,120,66,110,48,90,57,110,100,104,104,52,101,113,52,113,109,66,71,53,106,68,120,51,111,10,71,56,84,69,65,114,97,73,78,68,86,77,76,118,111,122,119,99,104,75,107,57,43,54,81,72,71,115,102,121,98,56,113,69,121,99,74,52,49,103,80,53,119,87,109,86,106,88,75,82,118,73,73,86,84,47,84,72,100,104,78,67,110,121,10,99,78,101,52,84,89,104,104,55,57,112,122,103,49,78,108,81,111,84,100,65,66,51,90,71,86,98,122,97,48,55,47,74,50,48,81,84,75,52,75,122,97,69,71,69,48,67,56,79,116,77,68,116,75,114,55,81,54,81,82,120,72,107,117,10,81,50,51,117,54,85,80,70,65,103,77,66,65,65,71,106,103,103,74,117,77,73,73,67,97,106,65,79,66,103,78,86,72,81,56,66,65,102,56,69,66,65,77,67,66,97,65,119,72,81,89,68,86,82,48,108,66,66,89,119,70,65,89,73,10,75,119,89,66,66,81,85,72,65,119,69,71,67,67,115,71,65,81,85,70,66,119,77,67,77,65,119,71,65,49,85,100,69,119,69,66,47,119,81,67,77,65,65,119,72,81,89,68,86,82,48,79,66,66,89,69,70,70,90,66,54,99,86,77,10,82,114,69,79,117,103,106,71,108,52,47,112,65,121,112,70,74,47,90,49,77,66,56,71,65,49,85,100,73,119,81,89,77,66,97,65,70,66,81,117,115,120,101,51,87,70,98,76,114,108,65,74,81,79,89,102,114,53,50,76,70,77,76,71,10,77,70,85,71,67,67,115,71,65,81,85,70,66,119,69,66,66,69,107,119,82,122,65,104,66,103,103,114,66,103,69,70,66,81,99,119,65,89,89,86,97,72,82,48,99,68,111,118,76,51,73,122,76,109,56,117,98,71,86,117,89,51,73,117,10,98,51,74,110,77,67,73,71,67,67,115,71,65,81,85,70,66,122,65,67,104,104,90,111,100,72,82,119,79,105,56,118,99,106,77,117,97,83,53,115,90,87,53,106,99,105,53,118,99,109,99,118,77,68,56,71,65,49,85,100,69,81],\"honorCipherOrder\":true,\"sessionIdContext\":\"cc72b480224e5061c2d616db79897d01\",\"_sharedCreds\":{\"context\":{},\"alpnBuffer\":[8,104,116,116,112,47,49,46,49]},\"_events\":{},\"_eventsCount\":6,\"_maxListeners\":0,\"_connections\":3,\"_handle\":{\"reading\":false},\"_usingWorkers\":false,\"_workers\":[],\"_unref\":false,\"allowHalfOpen\":false,\"pauseOnConnect\":false,\"httpAllowHalfOpen\":false,\"timeout\":120000,\"keepAliveTimeout\":5000,\"maxHeadersCount\":null,\"headersTimeout\":60000,\"_connectionKey\":\"4:0.0.0.0:1880\"},\"_server\":null,\"ssl\":{\"_parent\":{\"reading\":true,\"onconnection\":null},\"_parentWrap\":\"[internal]\",\"_secureContext\":{\"context\":{},\"alpnBuffer\":[8,104,116,116,112,47,49,46,49]},\"reading\":true,\"lastHandshakeTime\":1315199,\"handshakes\":0,\"_consumed\":true},\"_requestCert\":false,\"_rejectUnauthorized\":true,\"timeout\":120000,\"parser\":{\"_headers\":[],\"_url\":\"\",\"socket\":\"[Circular ~.req.client]\",\"incoming\":\"[Circular ~.req]\",\"outgoing\":null,\"maxHeaderPairs\":2000,\"_consumed\":true},\"_paused\":false,\"_httpMessage\":\"[internal]\"},\"_consuming\":true,\"_dumped\":false,\"baseUrl\":\"\",\"originalUrl\":\"/lora\",\"_parsedUrl\":{\"protocol\":null,\"slashes\":null,\"auth\":null,\"host\":null,\"port\":null,\"hostname\":null,\"hash\":null,\"search\":null,\"query\":null,\"pathname\":\"/lora\",\"path\":\"/lora\",\"href\":\"/lora\",\"_raw\":\"/lora\"},\"params\":{},\"query\":{},\"res\":\"[internal]\",\"body\":[{\"bn\":\"urn:dev:DEVEUI:0059AC00001B04BB:\",\"bt\":1606919627},{\"n\":\"payload\",\"vs\":\"34313831383138313836343135003030002020202020202020\"},{\"n\":\"port\",\"v\":1}],\"_body\":true,\"route\":{\"path\":\"/lora\",\"stack\":[{\"name\":\"cookieParser\",\"keys\":[],\"regexp\":{\"fast_star\":false,\"fast_slash\":false},\"method\":\"post\"},{\"name\":\"httpMiddleware\",\"keys\":[],\"regexp\":{\"fast_star\":false,\"fast_slash\":false},\"method\":\"post\"},{\"name\":\"corsHandler\",\"keys\":[],\"regexp\":{\"fast_star\":false,\"fast_slash\":false},\"method\":\"post\"},{\"name\":\"metricsHandler\",\"keys\":[],\"regexp\":{\"fast_star\":false,\"fast_slash\":false},\"method\":\"post\"},{\"name\":\"jsonParser\",\"keys\":[],\"regexp\":{\"fast_star\":false,\"fast_slash\":false},\"method\":\"post\"},{\"name\":\"urlencodedParser\",\"keys\":[],\"regexp\":{\"fast_star\":false,\"fast_slash\":false},\"method\":\"post\"},{\"name\":\"multipartParser\",\"keys\":[],\"regexp\":{\"fast_star\":false,\"fast_slash\":false},\"method\":\"post\"},{\"name\":\"rawBodyParser\",\"keys\":[],\"regexp\":{\"fast_star\":false,\"fast_slash\":false},\"method\":\"post\"},{\"name\":\"<anonymous>\",\"keys\":[],\"regexp\":{\"fast_star\":false,\"fast_slash\":false},\"method\":\"post\"},{\"name\":\"<anonymous>\",\"keys\":[],\"regexp\":{\"fast_star\":false,\"fast_slash\":false},\"method\":\"post\"}],\"methods\":{\"post\":true}},\"cookies\":{},\"signedCookies\":{}}",
                "vt": "json"
            },
            {
                "p": "res",
                "v": "{}",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"bn\":\"urn:dev:DEVEUI:0059AC00001B04BB:\",\"bt\":1606919627},{\"n\":\"payload\",\"vs\":\"34313831383138313836343135003030002020202020202020\"},{\"n\":\"port\",\"v\":1}]",
        "payloadType": "json",
        "x": 90,
        "y": 220,
        "wires": [
            [
                "68cbc42.57e8d3c",
                "eb35dc92.10dca"
            ]
        ]
    },
    {
        "id": "8d8c18ba.5a10e8",
        "type": "function",
        "z": "e03821eb.1ee1f",
        "name": "GEODATA PAYLOAD",
        "func": "var msgc = {};\nmsgc.devEUI = msg.payload[0].bn.split(\":\")[3];\n\nresult.rawPost = msg.payload;\nresult.locOrigin = msg.payload[1].vs;\nresult.latitude = msg.payload[2].v;\nresult.longitude = msg.payload[3].v;\nresult.radius = msg.payload[4].v;\n// take time in Unix time format and convert to readable time (MySQL compatible)\nresult.locTime = new Date(parseInt(msg.payload[7].vs)).toISOString().slice(0, 19).replace('T', ' ');\n\nmsgc.payload = result;\nreturn msgc;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 900,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "42b77ee5.16dea8",
        "type": "switch",
        "z": "e03821eb.1ee1f",
        "name": "",
        "property": "payload[1].n",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "locOrigin",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "payload",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 60,
        "wires": [
            [
                "8d8c18ba.5a10e8"
            ],
            [
                "f5586a3a.a03e08"
            ]
        ]
    },
    {
        "id": "f5586a3a.a03e08",
        "type": "function",
        "z": "e03821eb.1ee1f",
        "name": "DATA PAYLOAD",
        "func": "var result = {};\nvar msgp = {};\n\nmsgp.payload = msg.payload[1].vs; // Payload data for decoding by CayenneLPP decoder\nmsgp.rawPayload = msg.payload[1].vs; // Preserve original payload for presenting later\nmsgp.rawPost = msg.payload; // complete JSON http POST message form KPN portal\nmsgp.devEUI = msg.payload[0].bn.split(\":\")[3];\n\n//prepare data for decoding by CayenneLPP decoder \nresult.port = msg.payload[2].v;\n// take time in Unix time format in seconds and convert to readable time (MySQL compatible)\nresult.locTime = new Date(msg.payload[0].bt*1000).toISOString().slice(0, 19).replace('T', ' ');\n\nmsgp.metadata = result;\nnode.send(msgp);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 880,
        "y": 140,
        "wires": [
            [
                "cb7ba9e7.c869f8"
            ]
        ]
    },
    {
        "id": "cb7ba9e7.c869f8",
        "type": "function",
        "z": "e03821eb.1ee1f",
        "name": "SPLIT DATA",
        "func": "var payloadSplit = msg.rawPayload.split(\"\");\nvar msgclean = \"\";\npayloadLength = 11;\nif(payloadSplit[1] == 4){\n    payloadLength = 13;\n}\nfor(var i = 1; i <= payloadLength * 2; i++){\n    if(i % 2 != 0){\n        msgclean += payloadSplit[i];\n    }\n}\n\nmsgcleanSplit = msgclean.split(\"\");\n\nvar msgjson = '';\nvar enti = \"\";\nvar uid = \"\";\nvar weight = msgcleanSplit[9] + msgcleanSplit[10];\nvar temp = (payloadLength == 13 ? msgcleanSplit[11] + msgcleanSplit[12] : \"\");\n\nfor(var j = 1; j <= 8; j++){\n    var str = \"\"+ msgcleanSplit[j] + \"\" + msgcleanSplit[j + 1]\n    //uid += String.fromCharCode(parseInt(str, 16));\n    uid += String.fromCharCode(parseInt(str, 16) + 41)  + \" \";\n    j++;\n}\ncurrentdate = new Date();\nswitch(payloadSplit[1]) {\n    case \"8\":\n        enti = \"DAY\";\n\n    break;\n    case \"4\":\n       \n        \n    break;\n    case \"c\":\n        enti = \"FED\";\n    break;\n}\n\nmsgjson = '{\"json\": \"\" }';\n\nvar encoded = JSON.parse(msgjson);\n\nvar message = \"\";\n\n\n\nmessage += '[{\"animal\": \"1652E88E-FD4E-4301-BCC4-10BBC3128AB4\",';\nmessage += '\"production\": \"' + weight + '\",';\nmessage += '\"productiondatetime\": \"' + currentdate.getFullYear() + '-'  + '0' + (currentdate.getMonth() + 1) + '-' + currentdate.getDate() + ' ' + currentdate.getHours() + ':'+ currentdate.getMinutes() + ':' + currentdate.getSeconds() + '\",';\nmessage += '\"product\": \"Melk\"}]';\nencoded.json = message;\nresult = {};\nresult.payload = encoded;\nresultdebug = {};\nresultdebug.payload = uid;\nreturn [result];\n\n\n\n\n\n\n\n\n\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1130,
        "y": 140,
        "wires": [
            [
                "796a3765.f72558",
                "e4eb9ef1.2f839"
            ]
        ]
    },
    {
        "id": "2e871db8.42da6a",
        "type": "debug",
        "z": "e03821eb.1ee1f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 220,
        "wires": []
    },
    {
        "id": "796a3765.f72558",
        "type": "debug",
        "z": "e03821eb.1ee1f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 180,
        "wires": []
    },
    {
        "id": "e2ca8e8a.def908",
        "type": "debug",
        "z": "e03821eb.1ee1f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1780,
        "y": 120,
        "wires": []
    }
]